.header_container {
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    background-color: #f7f8f9;
    box-shadow: 0 0 5px rgba(var(--rgb-black), 0.2);
    padding-inline: 0.5rem;
    border-radius: 0 0 100vmax 100vmax;

}
.header_container img {
    max-width: 100px;
}

.header_container section ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style: none;
}

.header_container a {
    text-decoration: none;
    color: #000;
}